{% extends "layout.html" %}
{% block title %}Inspiration{% endblock %}
{% block main %}
<h2 class="text-center mb-5">Ideas for a Peaceful Home</h2>
<div class="row g-4">
    <div class="col-md-4">
        <div class="card card-custom">
            <img src="https://placehold.co/600x400/CCD5AE/333?text=Sunday+Roast" class="card-img-top">
            <div class="card-body">
                <h5>Mama's Sunday Roast</h5>
                <p>Slow cooked for 6 hours. The secret is adding rosemary early.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom">
            <img src="https://placehold.co/600x400/FAEDCD/333?text=Declutter" class="card-img-top">
            <div class="card-body">
                <h5>Decluttering 101</h5>
                <p>If you haven't used it in a year, donate it. Clear space, clear mind.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-custom">
            <img src="https://placehold.co/600x400/D4A373/333?text=Gardening" class="card-img-top">
            <div class="card-body">
                <h5>Indoor Plants</h5>
                <p>Snake plants purify the air and are almost impossible to kill.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}